@model WebDACS.Models.Users
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/Phu/_Homedangnhap-dangky.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css/login")
    @Scripts.Render("~/Content/js/login")
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/login.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
</head>
<body>
    @using (Html.BeginForm("Dangnhap", "User"))
    {
        @Html.AntiForgeryToken()
        <p>ĐĂNG NHẬP TÀI KHOẢN</p>
        <div class="form-horizontal" id="form-login" style="margin-left:460px;margin-top:100px">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p style="text-align:center;color:blueviolet">ĐĂNG NHẬP TÀI KHOẢN</p>

            <div class="form-group">
                <i class="fa-solid fa-envelope">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "email",placeholder = "Email", @class = "form-input" } })
                </i>
                @Html.ValidationMessageFor(model => model.Email, "", new { type = "text", @class = "text-danger" })
            </div>

            <div class="form-group">
                <i class="fa-solid fa-key">
                    @Html.EditorFor(model => model.Userpassword, new { htmlAttributes = new { type = "password", placeholder = "Mật khẩu", @class = "form-input" } })
                </i>
                @Html.ValidationMessageFor(model => model.Userpassword, "", new { type = "text", @class = "text-danger" })
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ĐĂNG NHẬP" class="form-submit" />
            </div>
        </div>
    }
</body>
</html>
<style>
    body {
        background: url(/Content/Images/Trangchu/backgroud.jpg);
        background-size: cover;
        background-position-y: -60px;
        font-size: 16px;
    }

    .form-login {
        max-width: 400px;
        background: rgba(40, 100, 40, 0.5);
        flex-grow: 1;
        padding: 30px 30px 40px;
        box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
    }

    .form-group {
        border-bottom: 1px solid #fff;
        margin-top: 15px;
        margin-bottom: 20px;
    }

        .form-group i {
            color: #fff;
            font-size: 14px;
        }

    .form-submit {
        background: transparent;
        border: 1px solid #f5f5f5;
        background-color: yellow;
        color: red;
        width: 100%;
        text-align: uppercase;
        padding: 6px 10px;
        transition: 0.25s ease-in-out;
        margin-top: 10px;
    }
</style>

